body {
    padding-top: 40px;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.navbar-fixed-bottom{
    position: absolute !important;
}
.navbar-no-collapse{
    display: block !important;
}
.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
}
/*
Some fixes
 */
.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-burger{
    display: none;
}
@media (max-width: 766px) {
    .navbar-header{
        display: flex;
        justify-content: space-between;
    }
    .navbar-burger{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
